<div class="container">
	<footer class="">
		<small>
			Copyright &copy <a href="https://github.com/lafsdev/alpha-blog">Ruby on rails simple blog</a>
			by <a href="https://twitter.com/lafsdev">Lafs.dev</a>
		</small>
			<ul>
				<li>
					<%= link_to "About", about_path %>
				</li>				
			</ul>
	</footer>
	
</div>